*{
	border:0;
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color:yellow;
}

h1{
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-size:60px;
	margin-bottom: 20px;
}

.hi{
	margin-left:42%;
}

.intro{
	margin-top:60px;
}


.intro2{
	margin-top:40px;
	margin-bottom:0px;
}


p{
	font-family: 'Crete Round', serif;
	color:black
	margin-left:16.66%;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

.content{
	margin-left:25%;
	margin-top: 60px;
	margin-bottom:80px;
}

.content2{
	margin-left:25%;
	margin-bottom:40px;
}


.intro2 p{
	padding:20px;
}
.graphic1{
	width:100%;
	height:180px;
	background-color: black;
	color: yellow;
	padding: 40px;
	text-align: center;
}

.down{
	bottom:0%;
	position: relative;
	margin-top:60px;
}

a{
	color:white;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
}

.instruction{
	width:35%;
	height:40px;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius:25px;
	font-family: 'Raleway', sans-serif;
	margin-top:4%;
	display: block;
	margin-left:33.33%;
}

.content-img{
	margin-top:10%;
	display:inline-block;
	position:relative;
	padding:20px;
	margin-top:30px;
}

.content-img img{
	border-radius:40px;
	padding:20px;
}

.hunt{
	background-image:url("img/The hunt/18.jpg");
}


a img:hover{
	padding:15px;
	transition: all 600ms ease;
}

.intro2 a img:hover{
	width:170px;
	transition: all 900ms ease;
	background-color:transparent;
	padding:0px;
}

.graphic1 h1:hover{
	color:white;
	transition: all 1000ms ease;
}


/*Layout*/

.grid-base{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}

.grid-base .col{
	height:3000px;
}

.col{
	width:8.33%;
	border:1px 
	height:;
	display:inline-block;
	float:left;
	padding:5px;
	border-color: red;
}

.col-1{
    width:8.33%;
}

.col-2{
    width:16.66%;
}

.col-3{
    width:25%;
}

.col-4{
    width:33.33%;
}
.col-5{
    width:41.66%;
}
.col-6{
    width:50%;
}

.col-7{
    width:58.33%;
}

.col-8{
    width:66.66%;
}

.col-9{
    width:75%;
}

.col-10{
    width:83.33%;
}

.col-11{
    width:91.66%;
}

.col-12{
    width:100%;
}


