*{
	border:0;
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color:yellow;
}

h1{
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-size:60px;
	margin-bottom: 20px;
}

.hi{
	margin-left:42.5%;
	width:12%;
}

.intro{
	margin-top:60px;
	margin-bottom:30px;
}


.intro2{
	margin-top:40px;
	margin-bottom:0px;
}


p{
	font-family: 'Crete Round', serif;
	color:black
	margin-left:16.66%;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

.content{
	margin-left:25%;
	margin-top: 60px;
	margin-bottom:80px;
}

.content2{
	margin-left:25%;
	margin-bottom:40px;
}


.intro2 p{
	padding:20px;
}
.graphic1{
	width:100%;
	height:180px;
	background-color: black;
	color: yellow;
	padding: 40px;
	text-align: center;
}

.down{
	bottom:0%;
	position: relative;
	margin-top:60px;
}

a{
	color:white;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
}

.info a{
	color:red;
}

.instruction{
	width:44%;
	height:40px;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius:25px;
	font-family: 'Raleway', sans-serif;
	margin-top:4%;
	display: block;
	margin-left:28%;
}

.content-img{
	margin-top:10%;
	display:inline-block;
	position:relative;
	padding:20px;
	margin-top:30px;
}

.content-img img{
	border-radius:40px;
	padding:20px;
}

.hunt{
	background-image:url("img/The hunt/18.jpg");
}


a img:hover{
	padding:15px;
	transition: all 600ms ease;
}

.intro2 a img:hover{
	width:170px;
	transition: all 900ms ease;
	background-color:transparent;
	padding:0px;
}

.graphic1 h1:hover{
	color:white;
	transition: all 1000ms ease;
}


/*Layout*/

.grid-base{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}

.grid-base .col{
	height:3000px;
}

.col{
	width:8.33%;
	border:1px 
	height:;
	display:inline-block;
	float:left;
	padding:5px;
	border-color: red;
}

.col-1{
    width:8.33%;
}

.col-2{
    width:16.66%;
}

.col-3{
    width:25%;
}

.col-4{
    width:33.33%;
}
.col-5{
    width:41.66%;
}
.col-6{
    width:50%;
}

.col-7{
    width:58.33%;
}

.col-8{
    width:66.66%;
}

.col-9{
    width:75%;
}

.col-10{
    width:83.33%;
}

.col-11{
    width:91.66%;
}

.col-12{
    width:100%;
}

@media only screen and (max-width: 1000px) {

	.instruction{
	width:44%;
	height:40px;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius:25px;
	font-family: 'Raleway', sans-serif;
	margin-top:4%;
	display: block;
	margin-left:28%;
	font-size:13px;
}

h1{
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-size:40px;
	margin-bottom: 20px;
}

.hi{
	margin-left:42.5%;
	width:15%;
}

.graphic1{
	width:100%;
	height:140px;
	background-color: black;
	color: yellow;
	padding: 40px;
	text-align: center;
}



}

@media only screen and (max-width: 800px) {

	.instruction{
	width:57%;
	height:40px;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius:25px;
	font-family: 'Raleway', sans-serif;
	margin-top:4%;
	display: block;
	margin-left:21.5%;
	font-size:13px;
}

h1{
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-size:40px;
	margin-bottom: 20px;
}

.hi{
	margin-left:39.5%;
	width:18%;
}

.content2{
	margin-left:12.5%;
	margin-bottom:40px;
}

.col-6{
    width:75%;
}
.col-4{
    width:50%;
}


}

@media only screen and (max-width: 600px) {

	.instruction{
	width:80%;
	height:40px;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius:25px;
	font-family: 'Raleway', sans-serif;
	margin-top:4%;
	display: block;
	margin-left:10%;
	font-size:13px;
}

h1{
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-size:40px;
	margin-bottom: 20px;
}

.hi{
	margin-left:37.5%;
	width:22%;
}

.content2{
	margin-left:12.5%;
	margin-bottom:40px;
}

.col-6{
    width:75%;
}
.col-4{
    width:50%;
}

.graphic1{
	width:100%;
	height:100px;
	background-color: black;
	color: yellow;
	padding: 20px;
	text-align: center;
}

.down{
	bottom:0%;
	position: relative;
	margin-top:60px;
	height:140px;
}

.content-img{
	display:inline-block;
	position:relative;
	padding:10px;
	margin-top:5px;
}

}

@media only screen and (max-width: 450px) {

	.instruction{
	width:86%;
	height:40px;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius:25px;
	font-family: 'Raleway', sans-serif;
	margin-top:4%;
	display: block;
	margin-left:7%;
	font-size:11px;
}


h1{
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-size:33px;
	margin-bottom: 20px;
}

.hi{
	margin-left:28.5%;
	width:40%;
}

.content2{
	margin-left:12.5%;
	margin-bottom:40px;
}

.col-6{
    width:75%;
}
.col-4{
    width:100%;
}

.graphic1{
	width:100%;
	height:100px;
	background-color: black;
	color: yellow;
	padding: 20px;
	text-align: center;
}

.down{
	bottom:0%;
	position: relative;
	margin-top:60px;
	height:140px;
}

.content-img{
	display:inline-block;
	position:relative;
	padding:20px;
	margin-top:5px;
}

}

